.task {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: #DFFAE1;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgb(31, 70, 40);
  cursor: pointer;
  transition: background-color 0.3s;
}

.task:hover {
  background-color: rgb(228, 246, 212);
}

.task.completed {
  text-decoration: line-through;
  color: rgb(31, 70, 40);
  opacity: 0.7;
}

.task-info {
  flex-grow: 1;
  color: #FF0099;
  font-family: 'Comfortaa', sans-serif;
  font: bold;

}

.task-icons {
  display: flex;
  gap: 10px;
}

.delete-icon {
  color: #FF0099;
  cursor: pointer;
}

.check-icon {
  color: #27ae60;
  cursor: pointer;
}

.edit-icon {
  color: rgb(54, 146, 196);
  cursor: pointer;
}
