.task {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
}

.task:hover {
  background-color: #f8f8f8;
}

.task.completed {
  text-decoration: line-through;
  color: palevioletred;
  opacity: 0.7;
}

.task-info {
  flex-grow: 1;
  color: rgb(104, 50, 68);
  font-family: 'Comfortaa', sans-serif;
  font: bold;

}

.task-icons {
  display: flex;
  gap: 10px;
}

.delete-icon {
  color: #e75480;
  cursor: pointer;
}

.check-icon {
  color: #27ae60;
  cursor: pointer;
}

.edit-icon {
  color: rgb(54, 146, 196);
  cursor: pointer;
}
