.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 20px;
  color: rgb(19, 108, 40);
  font-family: 'Comfortaa', cursive;
}

.section-title {
  font-size: 55px;
  border: 2px solid rgb(19, 108, 40);
  border-radius: 15px;
  background-color: #f45eb8;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.app-description {
  font-size: 30px;
  margin-bottom: 40px;
  margin-right: 150px;
  margin-left: 150px;
}

.functionality-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.app-functionalities {
  font-size: 25px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.app-technologies {
  font-size: 30px;
  margin-bottom: 30px;
  margin-right: 150px;
  margin-left: 150px;
}

.contact-info {
  margin-top: 50px;
}

.contact-info p {
  font-size: 18px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
}

.contact-info p svg {
  margin-right: 8px;
}

.footer {
  margin-top: 20px;
  font-size: 10px;
  color: #666;
  text-align: center;
}

.footer a {
  color: #666;
}

.footer a:hover {
  text-decoration: underline;
}
